@model IEnumerable<UserManager.Models.User>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>Username</th>
		<th># of Posts</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Username)</td>
			<td>@Html.DisplayFor(modelItem => item.Posts.Count)</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
				@Html.ActionLink("Details", "Details", new { id = item.UserId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
			</td>
		</tr>
	}
</table>